@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

.hero__container {
  background-image: url(../../Assets//stevensPassHero.jpg);
  height: 90vh;
  width: 100%;
  /* background-repeat: none; */
  background-size: cover;
  object-fit: cover;
  background-position: center;

  /* Creating Parallax scrolling */
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.hero__titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.hero__title{
  font-size: 6em;
  color: rgb(22, 112, 22);
  text-shadow: 5px 0 #010a1d;
  letter-spacing: 6px;
  font-weight: 900;
  font-family: "Archivo Black";
  text-transform: uppercase;
  animation: left_to_right 3s ease;
}

/* phone */
@media screen and (max-width: 600px) {
  .hero__title {
  
    animation: none;
  }
}

/* tablets */
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 3em;
    animation: none;
  }
}

/* landscape */
@media only screen and (min-width: 1200px) {
  .hero__title {
    font-size: 5em;
    animation: left_to_right 3s ease;
  }
}
