.NavbarItems{
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 1.2rem;
    width: 100%;   
}

.navbar-logo{
    justify-self: start;
    cursor: pointer;
}

.navbar-logo img{
   height: 150px;
   width: 220px;
   margin-top: .2em;
   border-radius: 10px;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
}

.nav-links:hover{
    color: blue;
    background-color: cadetblue;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.fa-bars{
    color: white;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 170px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background-color: cadetblue;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: coral;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        margin: .5rem
     
    }

    .navbar-logo img{
        height: 140px;
        width: 200px;
        margin-top: .2em;
        border-radius: 10px;
     }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: fff;
        font-size: 2rem;
    }

}